doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='ressources/css/style.css')
  title Dashboard
h1
  | Welcome to your SportTrack dashbord !
br
table
  tr
    th Date
    th Description
    th Start
    th Duration
    th Distance (m)
    th Minimum cardio frequency (bpm)
    th Maximum cardio frequency (bpm)
    th Average cardio frequency (bpm)
br
br
br
a(href="/upload"): button(type="button") Upload
a(href="/disconnect"): button(type="button") Disconnect
